# My tool py:
test.py
fromLiaoxuefeng/hello.py

# My resource
resource
numpy/a.bin
numpy/a.txt
numpy/result.npy
numpy/result.npz
forMore/resource


# Cache
__pycache__

# test
forMore/test.log

www/unskilled.py
www/user.py

# My resource
www/uikit

# Cache
www/__pycache__/